<div class="col-md-4 px-5">
  <!--begin::Story-->
  <div class="text-center mb-10 mb-md-0">
    <!--begin::Illustration-->
    <img src="static/metronic/media/illustrations/sketchy-1/2.png" class="mh-125px mb-9" alt="">
    <!--end::Illustration-->
    <!--begin::Heading-->
    <div class="d-flex flex-center mb-5">
      <!--begin::Badge-->
      <span class="badge badge-circle badge-light-success fw-bolder p-5 me-3 fs-3">1</span>
      <!--end::Badge-->
      <!--begin::Title-->
      <div class="fs-5 fs-lg-3 fw-bolder text-dark">Jane Miller</div>
      <!--end::Title-->
    </div>
    <!--end::Heading-->
    <!--begin::Description-->
    <div class="fw-bold fs-6 fs-lg-4 text-muted">Save thousands to millions of bucks
      <br>by using single tool for different
      <br>amazing and great
    </div>
    <!--end::Description-->
  </div>
  <!--end::Story-->
</div>
